<header class="ampstart-headerbar fixed flex justify-start items-center top-0 left-0 right-0 pl2 pr4">
  <div role="button" on="tap:sidebar1.toggle" tabindex="0" class="hamburger"><amp-img src="{{ site.baseurl }}{{site.menu}}" width="48" height="48" /> </div> <a href="{{ site.baseurl }}/" class="logo"><span class="logo"><amp-img src="{{ site.baseurl }}{{ site.logo }}" width="48" height="48" /></span></a>
   <a href="{{ site.baseurl }}/" class="h1link"  > <h1 class="blog-title">{{ site.title }}</h1> </a>

 
</header>

<amp-sidebar id="sidebar1" layout="nodisplay" side="left">
  <div role="button" aria-label="close sidebar" on="tap:sidebar1.toggle" tabindex="0" class="close-sidebar">✕</div>
  <ul class="sidebar">
 
	
	<li><a href="https://www.indianewsdaily.in/">Home  </a></li>
	<li><a href="https://www.indianewsdaily.in/bureaucracy/">Bureaucracy  </a></li>
		<li><a href="https://www.indianewsdaily.in/tourism/">Tourism  </a></li>
			<li><a href="https://www.indianewsdaily.in/education/">Education  </a></li> 
		<li><a href="https://www.indianewsdaily.in/EmploymentNews/">Jobs  </a></li>
	<li><a href="https://www.indianewsdaily.in/entertainment/">Entertainment  </a></li>
	<li><a href="https://www.indianewsdaily.in/Health/">Health  </a></li>
	<li><a href="https://www.indianewsdaily.in/Humour/">Humour </a></li>
	<li><a href="https://www.indianewsdaily.in/politics/">Politics </a></li>  
	<li><a href="https://www.indianewsdaily.in/Profiles/">Profiles </a></li>
	<li><a href="https://www.indianewsdaily.in/Psunews/">PSU news </a></li>  
	<li><a href="https://www.indianewsdaily.in/technology/">Tech </a></li>
<li><a href="https://www.indianewsdaily.in/Directory/">Directory  </a></li>
	<li><a href="https://www.indianewsdaily.in/about/">About us </a></li>  
	<li><a href="https://www.indianewsdaily.in/advertise/">Advertise with us</a></li> 
	<li><a href="https://www.indianewsdaily.in/search/">Search news</a></li>
	
	
  </ul>
</amp-sidebar>